.content {
	text-align: left;
}
.subtitle {
    font-size: 18px;
    text-align: left;
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
}
.field {
	margin: 8px 0;
}
.submit-btn {
	text-align: center;
	margin-top: 16px; 
}

.cart-wrapper {
	min-height: 200px;
}
.catalog-wrapper{
	overflow: auto;
    max-height: 870px;
}

.cart-item-wrapper{
	margin: 8px 0;
}
.cart-item {
    clear: right;
    float: left;
}
.cart-item-delete {
    float: right;
    padding: 8px;
}
.cart-item-spacer {
    padding-bottom: 40px;
}