.panel {
	font-family: 'Roboto', sans-serif;
}
.panel-default>.panel-heading {
	background: #a5e2ff;
    font-weight: bold;
}
.panel-body {
    padding: 0 12px 8px 12px;
}
a.readmore, a.readless {
    cursor: pointer;
    color: grey;
}
.content{
    margin-bottom: 16px;
}


/*project*/
.project-stream {
    position: absolute;
    top: 8px;
    left: 15px;
    right: 15px;
}
.project-stream-word {
    font-size: 14px;
    font-weight: bold;
    background: #a5e2ff;
    padding: 4px 0;
    margin: 0 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.project-link {
    position: absolute;
    bottom: 8px;
    right: 32px;
}
.project-img {
    text-align: left;
    overflow: hidden;
    position: relative;
    /*width: 100%;*/
}
.project-img>img {
    max-width: 100%;
    margin: auto;
}
.project-wrapper {
    background: white;
    border-bottom: 0px solid;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border: 1px solid hsla(0, 0%, 0%, 0.35);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    min-height: 460px;
    text-align: left;
}
.project-type {
    margin: 8px 0 4px 3px;
    font-size: 16px;
}
.project-date {
    text-align: left;
    margin-top: -4px;
    margin-left: -2px;
    margin-bottom: 8px;
    font-size: 14px;
}
.project-title {
    padding-top: 8px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}
.project-detail {
    text-align: left;
}
@media screen and (max-width: 767px) {
    .project-stream{
        top: 0;
    }
    .project-stream-word {
        margin: 0 30px;
    }
}