section {
    margin-bottom: 24px;
}
.panel {
	font-family: 'Roboto', sans-serif;
}
.panel-default>.panel-heading {
	background: #a5e2ff;
    font-weight: bold;
}
.panel-body {
    padding: 0 12px 8px 12px;
}
a.readmore, a.readless {
    cursor: pointer;
    color: grey;
}
.btn-new {
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
}
.search-bar {
    width: 100%;
    padding: 4px;
    margin-top: 8px;
    color: grey;
}
.search-checkbox {
    float: left;
    padding-top: 8px;
    padding-right: 8px;
}

/*project*/
.project-stream {
    position: absolute;
    top: 8px;
    left: 15px;
    right: 15px;
}
.project-stream-word {
    /* color: white; */
    font-size: 14px;
    font-weight: bold;
    background: #a5e2ff;
    padding: 4px 0;
    margin: 0 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.project-link {
    position: absolute;
    bottom: 8px;
    right: 32px;
}
.project-img {
    background: grey;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.project-img>img {
    width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.project-wrapper {
    background: white;
    border-bottom: 0px solid;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border: 1px solid hsla(0, 0%, 0%, 0.35);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    min-height: 480px;
    text-align: left;
}
.project-type {
    margin: 8px 0 4px 3px;
    font-size: 16px;
}
.project-date {
    font-size: 14px;
}
.project-title-word {
    max-height: 30px;
}
.project-title {
    padding: 8px 0;
    border-left: 5px solid;
    padding-left: 4px;
    font-size: 18px;
}
.project-detail {
    text-align: justify;
    height: 160px;
}
.project-des {
    margin: 0 12px;
    margin-top: 8px;
}
@media screen and (max-width: 767px) {
    .project-stream{
        top: 0;
    }
    .project-stream-word {
        margin: 0 30px;
    }
}